* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    max-width: 100%;
}

.container {
    max-height: 900px;
    margin: 0 auto;  
}

.row {
    display: flex;
    justify-content: center;
    padding: 30px;
}

.row-3 {
    background-color: aquamarine;
    padding: 20px;
}

.row-1 {
    background-color: blue;
    min-height: 200px;
    padding: 15px;
}

.col {
    min-height: 40px;
    background-color: orange;
    padding: 5px;
    flex-basis: 200px;
    border: 2px dashed black ;
}

.col-2 {
    flex-grow: 1;
    text-align: center;
}

.col-3 {
    text-align: right;
}

.center-col {
    flex-basis: 100px;
    background-color: orange;
    flex-basis: 500px;
    border: 2px dashed black ;
}

.colonna1 {
    background-color: aqua;
    min-height: 200px;
    flex-basis: 300px;
}

.colonna2 {
    background-color: pink;
}

.riga3 {
    background-color: lightgrey;
}

.colonna3 {
    min-height: 500px;
    flex-basis: 500px;
    background-color: green;
}

.riga4 {
    background-color: lightgrey;
}

.colonna-footer {
    min-height: 400px;
    background-color: aqua;
    border: 1px solid white;
    flex-grow: 1;
} 

.colonna-footer.left {
    background-color: pink;
    flex-grow: 2;
}

footer .container {
    background-color: gray;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

 .row-footer {
    margin: 30px 0;
    width: 500px;
    justify-content: center;
    padding: 0;
    background-color: aquamarine;
 }

 .colonna-footer.left {
    background-color: pink;
 }

 .row-sub-footer {
    background-color: gray;
    border: 1px solid lightgray;
 }

 .colonna-sub-footer {
    min-height: 50px;
    flex-basis: 500px;
    background-color: orange;
 }

 .row-footer.bottom {
    justify-content: space-between;
    padding: 10px 0;
 }

 .row-footer.bottom > .col {
    flex-basis: 80px;
    border: 1px dashed black;
    text-align: center;
    min-height: 20px;
 }